.archives
  display flex
  position absolute
  left 0
  top 0
  right 0
  bottom 0
  padding 5rem
  margin 0
  justify-content center
  background-color rgba(10, 10, 10, .8)
  overflow auto
  opacity 0
  z-index -1
  transition all .5s
  transform scale(0)

  li
    width 50%
    height 10rem
    line-height 10rem
    margin 1rem
    font-size 4rem
    font-weight bold
    text-align center
    list-style-type none

    a
      display block
      background-color #2db373
      color #fff
      border-radius 1rem
      text-decoration none
      transition all .5s

      &:hover
        background-color #00b4ff

.archives-shown
  height 100%
  overflow hidden

  .archives
    opacity 1
    z-index 1
    transform scale(1)

@media screen and ( min-width 1000px )
  .archives li
    width 33%

@media screen and ( max-width 500px )
  .archives li
    width 33%

@media screen and ( max-width 375px )
  .archives
    flex-direction column
    justify-content flex-start

    li
      width 100%
      font-size 3rem
