@import "variables"

body
  color #333
  font-family "Helvetica Neue", Helvetica, Ubuntu, Arial, sans-serif

#wrap
  width 650px
  margin auto
  
  h2:first-type
    padding 0
    border-top 0

  ul
    padding-bottom 15px
    border-bottom 1px dashed font-color


h1
  height 40px
  line-height 40px
  padding 5px 10px
  color font-color
  background-color bg-color

  em
    float right
    font-style normal
    font-size 18px

h2
  padding-top 15px
  color font-color
  font-weight normal

ul
  margin 0 0 30px -20px

li
  font-size 16px
  margin-bottom 10px
  line-height 1.4
  list-style-type square

a
  padding 3px

a:hover
  color font-color
  background-color bg-color
  text-decoration none

  code
    color font-color
    background-color bg-color

code
  font-family monospace, monospace
  font-size 85%
  padding .3em .5em
  line-height 1.5
  border-radius 3px
  color #fff
  background-color #c2606f
