@import "../lib/normalize.styl"
@import "variables"

html
  font-size 62.5% /* 10/16 = 62.5% */

@media (-webkit-min-device-pixel-ratio : 1.5)
  html
    font-size 50% /* 8/16 = 50% */

@media (-webkit-min-device-pixel-ratio : 2)
  html
    font-size 43.75% /* 7/16 = 43.75% */

@media (-webkit-min-device-pixel-ratio : 3)
  html
    font-size 43.75% /* 5/16 = 31.25% */

html, body
  position relative
  height 100%
  overflow hidden

nav
  width 70%
  height 4rem
  line-height 4rem
  margin 1rem auto
  font-size 3.5rem

.links
  float right

  a
    color font-color

.wrap
  position relative
  width 1000px
  margin auto
  overflow hidden

@import "issue"
@import "logo"
@import "overlay"
@import "archives"
