@import "variables"

body
  color #333
  background-color rgb(254, 254, 254)
  font-family "Helvetica Neue", Helvetica, Ubuntu, Arial, sans-serif

ul
  padding 0
  margin 0 0 3rem 2rem

article
  width 65rem
  height 100%
  margin auto
  padding 15rem 2rem 0
  background-color #fff
  overflow-y scroll

  h2:first-type
    padding 0
    border-top 0

  ul
    padding-bottom 1.5rem
    border-bottom .1rem dashed font-color

  h1
    position absolute
    top 0
    left -16rem
    width calc(100% + 16rem)
    height 10rem
    line-height 10rem
    margin-top 1rem
    padding .5rem 1rem
    font-size 4rem
    color font-color
    background-color bg-color
    text-align center

    em
      margin-left 6rem
      font-style normal
      font-size 1.8rem

  h2
    padding-top 1.5rem
    color font-color
    font-size 2rem
    font-weight normal

  li
    font-size 1.6rem
    margin-bottom 1rem
    line-height 1.4
    list-style-type square

  a
    padding .3rem

  a:hover
    color font-color
    background-color bg-color
    text-decoration none

    code
      color font-color
      background-color bg-color

  code
    font-family monospace, monospace
    font-size 85%
    padding .3em .5em
    line-height 1.5
    border-radius .3rem
    color #fff
    background-color #c2606f

