#overlay
  display flex
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  background-color #1d5a45
  transition all 1.5s

  p
    width 30rem
    margin auto
    font-size 5rem
    color #e7b541
    text-align center
    animation pulse 2.5s infinite

#overlay.hide
  opacity 0
  pointer-events none

  p
    animation none

@keyframes pulse
  0%
    opacity ( .3 )
    transform scale( .5 )

  50%
    opacity ( 1 )
    transform scale( 1 )

  100%
    opacity ( .3 )
    transform scale( .5 )
